body{
<<<<<<< HEAD
    /background-color: #e5e5e5;
=======
    background-color: /*#e5e5e5*/ whitesmoke;
>>>>>>> d354a14d2af82238ad32b9c277b90454ab744dae
}

#mainPage{
    height: 100%;
    width: 100%;
}

#mainPageText{
    position: absolute;
    left: 250px;
    top: 100px;
    /*width: 85%;
    height: 135%;
    background-image:url('../images/bg.jpg');
    background-repeat: repeat;
    background-color: #e5e5e5;*/
}

#collectedEntry{
    position: relative;
    height: 250px;
    width: 900px;
}

#entry{
    position: relative;
    float: left;
    height: 250px;
    width: 250px;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 60px;
    text-align: center;
    
}

#sideBar{
    position: fixed;
    /*position: static;*/
    top: 0px;
    left: 0px;
    margin-left: 50px;
    width:170px;
    height: 100%;
<<<<<<< HEAD
    background-color: lightgray;
=======
    background-color: gray;  /*whitesmoke; #bfb084;*/
    border-left: 2px;
    border-right: 2px;
>>>>>>> d354a14d2af82238ad32b9c277b90454ab744dae
}

#sideBar a{
    color: white;
    text-decoration: none;
    
}

#siteBrand{
    /*display: block;*/
    margin-left: 20px;
    margin-top: 20px;
}

#sideBarText{
    position: relative;
    margin-top: 200px;
    line-height:150%;
}

#topBar{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    margin-left: 0px;
    margin-top: 0px;
<<<<<<< HEAD
    height: 100px;
    background-color: #403d3a;
=======
    height: 80px;
    background-color: #711b17;
>>>>>>> d354a14d2af82238ad32b9c277b90454ab744dae
}

.product_img{
    height: 200px;
    width: 130px;
    padding:1px;
    border:1px solid #021a40;
}

.product_detail{
    position: relative;
    margin-left: 180px;
    height: 400px;
}

.detail_img{
    padding:1px;
    border:1px solid #021a40;
}
.product_description{
    font-size: 20px;
    color: black;
    /*strike: red;*/
    font-family: fantasy;
    text-shadow: 3px 3px #DDDDDD;
}

strike{
    color: grey;
}

#search{
    position: relative;
    /*top: 70px;
    float: left;*/
    margin-top: 60px;
    /*width: 500px;
    height: 50px;*/
    margin-right: 5%;
    float: bottom;
}

#topLeft{
    position: absolute;
    float: left;
}

#topRight{
    position: relative;
    float: right;
    height: 100px;
}


.sortSelect {
    margin-left: 850px;
    position: absolute;
    width: 350px;
}
