body{
/*<<<<<<< HEAD
    /background-color: #e5e5e5;
=======
    background-color: #e5e5e5 whitesmoke;
>>>>>>> d354a14d2af82238ad32b9c277b90454ab744dae
*/
background-color: white;
}

#mainPage{
    height: 100%;
    width: 100%;
}

#mainPageText{
    position: absolute;
    left: 250px;
    top: 120px;
    color:#711b17;
    /*width: 85%;
    height: 135%;
    background-image:url('../images/bg.jpg');
    background-repeat: repeat;
    background-color: #e5e5e5;*/
}

#collectedEntry{
    position: relative;
    height: 250px;
    width: 900px;
}

#entry{
    position: relative;
    float: left;
    height: 250px;
    width: 250px;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 60px;
    text-align: center;
    
}

#sideBar{
    position: fixed;
    /*position: static;*/
    top: 0px;
    left: 0px;
    margin-left: 0px;
    width:170px;
    height: 100%;
/*
    background-color: lightgray;
*/
    background-color: white;/*gray;  whitesmoke; #bfb084;*/
    border-left: 2px;
    border-right: 2px;
}

#sideBar a{
    color: white;
    text-decoration: none;
    
}

#siteBrand{
    /*display: block;*/
    margin-left: 20px;
    margin-top: 20px;
}

#sideBarText{
    position: relative;
    margin-top: 150px;
    line-height:150%;
}

#topBar{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    height: 120px;
    background-color: #711b17;
    color:#f4bd15;
}

.product_img{
    height: 200px;
    width: 130px;
    padding:1px;
    border:1px solid #021a40;
}

.product_detail{
    position: relative;
    margin-left: 180px;
    margin-top:50px;
    height: 350px;
    width: 500px;
    padding-right: 20px;
    padding-left: 20px;
    border:2px solid #711b17;
}

.detail_img{
    padding:1px;
    border:1px solid #021a40;
}
.product_description{
    font-size: 20px;
    color: #711b17;
    /*strike: red;*/
    font-family: serif;
    text-shadow: 1px 1px #f4bd15;
    float: none;
    height: 250px;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    width: 350px;
    
}

strike{
    color: grey;
}

#search{
    position: relative;
    /*top: 70px;
    float: left;*/
    margin-top: 60px;
    /*width: 500px;
    height: 50px;*/
    margin-right: 5%;
    float: bottom;
}

#topLeft{
    position: absolute;
    float: left;
}

#topRight{
    position: relative;
    float: right;
    height: 100px;
}


.sortSelect {
    margin-left: 850px;
    position: absolute;
    width: 350px;
}
